.header {
  padding: 1rem 0 2rem;

  .inner {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
  }
}

.brand {
  font-weight: 600;
  color: #d8dee9;

  &:hover {
    text-decoration: none;
  }
}
