{% extends "base.html" %}

{% block title %}{{ page.title }} | blog.choco14t.net{% endblock title %}

{% block content %}
<article>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="tag-container">
    {{ load_data(path="static/icons/tags.svg") | safe }}
    {% if page.taxonomies.tags %}
      {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}" class="tag">{{ tag }}</a>
      {% endfor %}
    {% endif %}
  </div>
  <section class="post-content">
    {{ page.content | safe }}
  </section>
</article>
{% endblock content %}
